/* .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
} */

body{
  text-align: center;
}

.row{
  display: table-row;
}
.cell{
  display: table-cell;
  border: 1px solid black;
  width: 20%;
  min-width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
  .cell:not(.free):hover{    
    cursor: pointer;
  }

  .cell:not(.selected):hover{
    background-color: pink;
  }

  .cell.selected{
    background-color: hotpink;
  }

.bingo{
  margin: auto;
  display: table;
}

button{
  background-color: hotpink;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}