/* CSS reset */

/* set css variables */

:root{
  --primary-color-lightest: #E7F6E9;
  --primary-color-lighter: #95AD96;
  --primary-color: #5B765C;
  --primary-color-darker: #425D42;
  --primary-color-darkest: #263126;

  --secondary-color-light: #A2C8DC;
}

@font-face{
  font-family: 'Daydream';
  src: url('./shared/fonts/Daydream.ttf');
}

body, h1 {
    margin: 0;
    font-family: 'Futura', sans-serif;
    padding: 0;
  }
  a{
    color: inherit;
  }

  h1 {
    text-transform: uppercase;
    font-family: 'Daydream', sans-serif;
    margin-bottom: 0;    
  }

  h1, h2{
    text-shadow: 2px 1px 1px var(--primary-color-lighter);
  }

  h2{
    margin: 0;
  }

  body {
    background-color: var(--primary-color-lightest);
    color: var(--primary-color-darkest);
  }

  /* Common */

  .fix {
    *zoom: 1;
  }

  .fix:after {
    display: table;
    clear: both;
    content: '';
  }

  /* Home */

  .wrap {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    position:relative;
  }

  /* .logo, #gameArea {
    margin-bottom: 40px;
  } */

  .ws-area, .ws-words {
    display: inline-block;
    vertical-align: top;
  }

  .ws-words {
    width: 20%;
    text-align: left;
  }

  .ws-word {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;    
  }

  /* .ws-words ::first-letter{
      text-transform : capitalize;
  } */
  /* Wordsearch */

  .ws-area {    
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .ws-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ws-row {
    line-height: 0;
  }

  .ws-col {
    cursor: pointer;
  }

  .ws-col.ws-selected {
    background: rgb(213, 255, 149);
  }

  .ws-found--selfcare {
    background: var(--secondary-color-light);
  }

  .ws-found--distraction {
    background: var(--primary-color-lighter);
  }

  .ws-game-over-outer {
    background: rgba(104,200,200, 0.85);
    height: 100vh;
    left: 0;
    color: var(--primary-color-darkest);
    position: fixed;
    top: 0;
    width: 100%;

  }
  .ws-game-over-outer.is-fail{
    background: rgba(26, 31, 26, 0.85);
    color: #fff;
  }

  .ws-game-over-inner {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    display:table;
  }

  .ws-game-over {
    display:table-cell;
    vertical-align:middle;
  }


  .ws-game-over button{
    padding: 7px 20px;
    font-size: 18px;
    margin-top: 20px;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .ws-game-over h2 {
    color:inherit;
    font-size:2em;
    text-transform:uppercase;
    padding:0;
    margin:0 0 9px 0;
  }

  .ws-game-over p {
    color:inherit;
    font-size:1em;
    padding:0;
    margin:0;
  }


  .anxiety-bar{
    height: 150px;
    width: 25px;
    margin-right: 10px;
    margin-left: calc(20% - 25px);
    border: 1px solid var(--primary-color-darkest);
    position: relative;    
  }

  .anxiety{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: var(--primary-color-darkest);
    transition: 0.3s background-color;
  }

  .anxiety.is-distracted{
    background-color: var(--primary-color);
  }

  .anxiety.is-distracted:after{
    position: absolute;
    right: 100%;
    margin-right: 10px;
    content: "Distracted";
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;    
  }